* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    background: #000;
}

.sidebar {
    width: 80px;
    background-color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
    position: fixed;
}


.sidebar .logo{
    width: 60px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.sidebar .logo img{
    width: 40px; /* Dimensiune logo */
    height: auto;
    margin-bottom: 20px;
}

.sidebar-nav ul,
.sidebar-scroll ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav ul li,
.sidebar-scroll ul li{
    margin-bottom: 20px;
}

.sidebar-nav ul li a{
    text-decoration: none;
    color: #dcd9d9;
    width: 100%;
}

.sidebar-nav ul li a:hover{
    color:white;
}

.sidebar-scroll:hover{
    background-color: #333;
}

.sidebar a {
    color: #B3B3B3; /* Culoare gri pentru iconițe */
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_heart, .icon_bookmark, .playlist_icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.icon_heart{ 
    background: linear-gradient(135deg, #6a0dad, #8ec5fc);
    position: relative;
}

.tooltip{
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 8px;
    border-radius: 4px;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* Position below the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent; /* Arrow pointing down */
}

.icon_heart:hover .tooltip{
    visibility: visible;
    opacity: 1;
}

.icon_bookmark{
    background: linear-gradient(135deg, #28a745, #57cc99);   
}


.playlist_icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.playlist-icon:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow effect */
}

.icon_heart:hover,
.icon_bookmark:hover{
    filter: brightness(1.2);
}

.sidebar-scroll {
    overflow-y: auto; /* Scroll vertical */
    flex-grow: 1;
}

.sidebar-scroll ul{
    list-style: none;
}

.sidebar-scroll ul li{
    padding: 10px 10px;
    margin-bottom: 10px;
}

.sidebar-scroll::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}

.sidebar-scroll::-webkit-scrollbar-thumb{
    background: transparent;
}

.sidebar-scroll:hover::-webkit-scrollbar-thumb{
    background: white;
    /* width: 1px; */
    border-radius: 10px;
}

.main-section {
    margin-left: 80px;
    background: #121212;
    min-width: calc(100% - 80px);
    min-height: 100%;
    margin-bottom: 50px;
}

.main-section .top-nav{
    padding: 20px 30px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.main-section .top-nav .profil{
    color: #0c0c0c;
    font-size: 16px;
    font-weight: 600;
    background: white;
    padding: 10px 15px;
    border-radius: 20px;
    /* margin-right: 20px; */
}

.main-section .top-nav .profile-btn{
    color: #73dc93;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.main-section .top-nav .profile-btn a{
    text-decoration: none;
    color: #000000;
}
.home-btn:hover {
    background-color: #555; /* Slightly lighter background on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.search-bar{
    display: flex;
    align-items: center;
    background-color: #393838;
    border-radius: 30px;
    padding: 10px 15px;
    width: 60%; 
    height: 50px; 
    margin: 10px auto; 
    color: white;
    max-width: 600px; 
    transition: width 0.3s ease; }

.search-bar input{
    background-color: transparent; /* Transparent background */
    border: none; /* Remove default border */
    outline: none; /* Remove outline */
    color: #73dc93; /* White text */
    font-size: 14px;
    flex-grow: 1; /* Allows the input to take up remaining space */
    padding:  0 10px;
}


.search-bar button {
    background: none; /* Elimină fundalul butonului */
    border: none; /* Elimină bordura butonului */
    cursor: pointer;
    color: #B3B3B3; /* Culoarea iconiței */
    font-size: 18px;
    padding: 0; /* Elimină padding-ul care poate crea cercul */
    width: auto; /* Asigură-te că butonul are doar dimensiunea iconiței */
    height: auto; /* Asigură-te că înălțimea este fixată doar pe iconiță */
}

/* Stil pentru containerul profil */
.profil {
    position: relative;
    display: inline-block;
}

/* Stil pentru butonul profil */
.profile-btn {


    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


/* Stil pentru meniul drop-down */
.dropdown-menu {
    display: none; /* Ascuns implicit */
    position: absolute;
    right: 0; /* Se aliniază la dreapta */
    background-color: #282828;

    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 150px;
    z-index: 100;
}

/* Linkuri din meniul drop-down */
.dropdown-menu a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s;
}


@media (max-width: 768px) {
    .search-bar {
        width: 80%; /* Adjusted width for smaller screens */
        height: 45px; /* Smaller height for mobile devices */
    }
    
    .search-bar input {
        font-size: 14px; /* Smaller font for mobile */
    }

    .search-bar button {
        font-size: 16px; /* Adjusted icon size */
    }
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
    align-items: center;
    background-color: var(--grey);
    z-index: 1000;
    /* Other styles as needed */
  }
  
  .cards-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    /* Other styles as needed */
  }
  
  .card {
    width: 150px;
    background-color: var(--light-grey);
    padding: 0.75rem;
    border-radius: 0.5rem;
    height: fit-content;
    margin: 0rem 0.75rem;
  }
  
  .card-img {
    width: 100%;
    border-radius: 0.35rem;
  }
  
  .card-name {
    margin: 0.25rem 0;
    color: #fff;
  }
  
  .card-description {
    margin: 0;
    font-size: 0.8rem;
    opacity: 0.5;
  }
  
  .player {
    width: 100%;
    height: 80px; /* Adjust as needed */
    position: fixed;
    bottom: 0;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h3{
    color: #fff;
  }