* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
}

.sidebar {
    width: 300px;
    background: #0c0c0c;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
}

.sidebar-nav{
    background: #121212;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 10px;
}

.sidebar-nav .logo{
    width: 120px;
}

.sidebar-nav .logo img{
    width: 100%;
}

.sidebar-nav ul {
    list-style: none;
}

.sidebar-nav ul li {
    padding: 10px 10px;
}

.sidebar-nav ul li a:hover{
    color:white;
}

.sidebar-nav ul li a{
    text-decoration: none;
    color: #dcd9d9;
    width: 100%;
}

.library::after{
    content: '+';
    float: right;
    text-align: center;
    background: #1e1c1c;
    padding: 5px;
    border-radius: 60%;
    font-size: 20px;
}

.create-playlist{
    background: #1b1b1b;
    padding: 10px  15px;
    margin-bottom: 5px;
    color: white;
}

.sidebar-sscroll{
    height:110px;
    width: 102%;
    overflow-y: auto;
}

.sidebar-sscroll::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}

.sidebar-sscroll::-webkit-scrollbar-thumb{
    background: transparent;
}

.sidebar-sscroll:hover::-webkit-scrollbar-thumb{
    background: white;
    width: 1px;
    border-radius: 10px;
}

.create-playlist p{
    color:white;
    font-size: 12px;
    margin: 12px 0;
}

.create-playlist button{
    padding: 8px 20px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-weight: 600;
}

.privacy ul li a{
    text-decoration: none;
    color: #636262;
    font-size: 12px;
    font-weight: 600;
    margin: 0 5px;
}

.privacy ul li a:hover{
    text-decoration: underline;
    color: #d6d6d6;
}

.privacy ul{
    list-style: none;
    margin-top: 10px;
}

.privacy ul li{
    padding: 0 8px;
    padding-bottom: 8px;
}

.privacy{
    padding: 0 12px;
    margin-top: 30px;
}

.eng-btn{
    padding: 20px 30px;
}

.eng-btn button{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline:none;
    color: white;
    border: 1px solid #636262;
    border-radius: 20px;
    margin: 20px 0;
}

.eng-btn button:hover{
    padding: 11px 31px;
    border: 1px solid white;
}
.main-section {
    margin-left: 300px;
    background: #121212;
    min-width: calc(100% - 300px);
    min-height: 100%;
    margin-bottom: 50px;
}

.main-section .top-nav{
    padding: 20px 30px;
    background: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-section .top-nav button{
    background: transparent;
    border: 0;
    outline: none;
}

.main-section .top-nav .prev-btn button i{
    color: #bcbaba;
    font-size: 22px;
    margin-right: 20px;
}

.top-nav .login-btn .sign-up{
    color: #bcbaba;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
}

.top-nav .login-btn .sign-up:hover{
    color: white;
    text-decoration: none;
}

.top-nav .login-btn .login{
    color: #0c0c0c;
    font-size: 16px;
    font-weight: 600;
    background: white;
    padding: 10px 15px;
    border-radius: 20px;
}

.top-nav .login-btn .login a{
    text-decoration: none;
    color: #0c0c0c;
}

.top-nav .login-btn .login:hover{
    background: #636262;
}

.spotify-playlist{
    padding: 20px 40px;
}

.spotify-playlist h2{
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
}
/*
.spotify-playlist .carusel{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.spotify-playlist .carousel::-webkit-scrollbar {
    height: 8px; /* Înălțimea scrollbarului
}

.spotify-playlist .carousel::-webkit-scrollbar-thumb {
    background: #888; Culoarea thumb-ului
    border-radius: 10px;
}

.spotify-playlist .carousel::-webkit-scrollbar-track {
    background: #ccc;  Culoarea fundalului scrollbarului
}


.spotify-playlist .carusel .item{
    width: 160px;
    min-width: 140px;
    background-color: #1e1c1c;
    cursor: pointer;
    border-radius: 6px;
    padding: 15px;
}

.spotify-playlist .carusel .item:hover{
    background-color: #282828;
}

.spotify-playlist .carusel .item img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.spotify-playlist .carusel .item h4{
    color: white;
}

.spotify-playlist .carusel .item p{
    color: #ae2896;
}

.spotify-playlist .carusel .item p:hover{
    text-decoration: underline;
}
*/
.spotify-playlist .card{
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.spotify-playlist .card .item{
    width: 160px;
    min-width: 140px;
    background-color: #1e1c1c;
    cursor: pointer;
    border-radius: 6px;
    padding: 15px;
}

.spotify-playlist .card .item:hover{
    background-color: #282828;
}

.spotify-playlist .card .item img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.spotify-playlist .card .item h4{
    color: white;
}

.spotify-playlist .card .item p{
    color: #dcd9d9;
    text-align: -moz-center;
}

.spotify-playlist .card .item p:hover{
    text-decoration: underline;
}

.spotify-playlist .play-btn{
    position: relative;
}
.spotify-playlist .play-btn i{
    position: absolute;
    background: #73dc93;
    border-radius: 50%;
    padding: 14px;
    right: 10px;
    top: -60px;
    opacity: 0;
    transform: 0.3 ease forwards;
}

.spotify-playlist .card .item:hover .play-btn i{
    opacity: 1;
    transform: translateY(-20px);
}

.footer-section{
    padding: 20px 40px;
}

.footer-section .footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-section .footer .footer-links{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.footer-section .footer .footer-links .footer-column{
    margin: 0 12px;
}

.footer-section .footer .footer-links div{
    color: white;
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 16px;
}

.footer-section .footer .footer-links ul{
    list-style: none;
    margin: 6px 0;
}

.footer-section .footer .footer-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.footer-section .footer .footer-links ul li a:hover{
    text-decoration: underline;
    color: white;
}

.footer .social-links i{
    color: #ffffff;
    background: #1e1c1c;
    padding: 12px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.footer .social-links i:hover{
    background: #636262;
}

.preview{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(174, 40, 150) 0%, rgb(80, 155, 245) 100%);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 40px;
}

.preview h4{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
}

.preview p{
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.preview button{
    padding: 12px 30px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}

@media (max-width: 783px){
    .main-section{
        width: 100%;
    }
}

@media screen and (min-width: 768px){
    .main-section{
        width: 100%;
    }
}


